@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  --leftImage: url("../images/cashRegisterCart.jpeg");
  --rightImage: url("../images/PictureOfStore.jpeg");

  --tagFont: "Pacifico", cursive;
  --tagColor: #960b0b;
}

nav {
  margin-bottom: 50px;
}

.blackBreak {
  background-color: #919191;
  height: 5px;
  width: 150px;
  margin: 25px auto 25px;
  border-radius: 15px;
}

.blackBreak:first-of-type {
  width: 75px;
}

.aboutUs + .blackBreak {
  width: 300px;
}

.tag {
  font-family: var(--tagFont);
  letter-spacing: 2.5px;
  color: var(--tagColor);
}

nav + .container {
  margin-bottom: 75px;
}

.aboutUs {
  margin: 10px 150px 15px;
  line-height: 25px;
  letter-spacing: 0.5px;
  font-size: 19px;
}

.picHolder {
  margin-bottom: 350px;
}

.restauraunt,
.restauraunt2 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 50%;
  height: 300px;
}

.restauraunt {
  background-image: var(--leftImage);
  float: left;
}

.restauraunt2 {
  background-image: var(--rightImage);
  float: right;
}

@media screen and (min-width: 0px) and (max-width: 991px) {
  .aboutUs {
    margin: 10px 0 15px;
    font-size: 17px;
  }

  .aboutUs + .blackBreak {
    width: 150px;
  }

  .picHolder {
    margin-bottom: 0px;
  }

  .restauraunt,
  .restauraunt2 {
    float: none;
    margin: 15px auto;
    width: 100%;
  }
}
