:root {
    --sectionLinkHoverColor: #FFD22E;
}

nav {
    flex-wrap: wrap !important;  
} 

.sectionHeaders {
    top: 16.8%;
}

.sectionHeaders ul {
    width: 100%;
    justify-content: center;
}

.sectionHeaders ul a {
    transition: all .5s ease !important;
}

.sectionHeaders ul a:hover {
    color: var(--sectionLinkHoverColor) !important;
}

.flexBreak {
    flex-basis: 100%;
    height: 0;
}

section {
    scroll-margin-top: 250px;
}

.menuContainer {
    max-width: 650px;
    margin-bottom: 75px;
}

.menuContainer h1 {
    margin-bottom: 25px;
    margin-top: 50px;
    text-decoration: underline;
    text-transform: uppercase;
}

.lowerRow {
    margin-top: -15px;
}

.lowerRow p {
    font-weight: lighter;
    font-style: italic;
}

.higherPrice {
    margin-top: -15px;
}

.higherDescription {
    margin-top: -10px
}

.row p {
    font-size: 18px;
}

.col-4 {
    text-align: right;
}

.blackLine {
    background-color: black;
    width: 100%;
    height: 5px;
    margin: 5px 0 10px;
}

.phoPrice h4 {
    text-align: center;
}

.phoPrice {
    margin-top: 25px;
}

.blackLine + .phoPrice {
    margin-top: 10px;
    margin-bottom: 50px;
}

@media screen and (max-width: 650px) {
    .higherDescription {
        margin: 0;
    }
}

@media screen and (max-width: 500px) {
    .sectionHeaders ul a {
        font-size: 12px;
    }
    
    .sectionHeaders ul li {
        padding: 0 5px;
    }
}