:root {
  --captionColor: white;

  --carouselItemOne: url("../images/pho.jpeg");
  --carouselItemTwo: url("../images/bunBoHue.jpeg");
  --carouselItemThree: url("../images/eggrolls.jpeg");
}

.carousel .carousel-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 500px;
}

.carousel #item1 {
  background-image: var(--carouselItemOne);
}

.carousel #item2 {
  background-image: var(--carouselItemTwo);
}

.carousel #item3 {
  background-image: var(--carouselItemThree);
}

div.carousel-item {
  transition: transform 2s ease;
}

div.carousel-item h2,
div.carousel-item h4,
div.carousel-item p {
  color: var(--captionColor);
}

img.w-75 {
  margin: 0 auto;
  max-height: 500px;
}

.carousel-caption {
  bottom: 50%;
  color: var(--titleColor);
  display: none;
  left: 7%;
  right: 7%;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.carousel-caption h2 {
  font-size: 70px;
}

.carousel-caption h4 {
  font-size: 35px;
}

.carousel-caption p {
  font-size: 26px;
  font-weight: 600;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 75px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 100%;
}

.viewMenuButton {
  display: block;
  margin: 15px auto -30px;
  width: 150px;
  text-align: center;
  background-color: var(--linkActiveHoverColor);
  color: white;
  text-decoration: none;
  border-radius: 15px;
  padding: 15px 0;
  font-size: 24px;
}

.viewMenuButton:hover {
  color: white !important;
}

@media screen and (min-width: 400px) and (max-width: 600px) {
  .carousel-caption {
    bottom: 40%;
  }

  .carousel-caption h2 {
    font-size: 50px;
  }

  .carousel-caption h4 {
    font-size: 24px;
  }

  .carousel-caption p {
    font-size: 18px;
  }
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  .carousel-caption {
    bottom: 30%;
  }

  .carousel .carousel-item {
    height: 300px;
  }

  .carousel-caption h2 {
    font-size: 40px;
  }

  .carousel-caption h4 {
    font-size: 30px;
  }

  .carousel-caption p {
    font-size: 22px;
  }
}
